.base-navigation {
  &__links-list {
    display: flex;
    align-items: center;
    gap: 8px;

    li {
      a {
        padding: 8px 12px;
        position: relative;
        overflow: hidden;
        border: 1px solid #000;
        border-bottom: 4px solid #000;
        color: #000;

        display: block;

        &:active {
          border-bottom: 1px solid #000;
          span {
            color: #000;
          }
        }

        &.router-link-active {
          background: #000;
          span {
            color: #fff;
          }
        }
      }
    }
  }
}
